<%- include('partials/header', {
    title: 'New Dog Page'
}) %>



<main>
<h1>ALL DEM DOGS</h1>
<ul>
<% for(let i = 0; i < dogs.length; i++){ %>
<li>
NAME: <a href="/dogs/<%=dogs[i]._id%>"><%= dogs[i].name %><br>
BREED: <%= dogs[i].breed %><br>
AGE: <%= dogs[i].age %><br>
PICTURE: <img src="<%=dogs[i].image%>" alt="<%= dogs[i].name %> is a great doggo">

<%}%>
</ul>

<a href="/dogs/new" alt="Enter New Dogo">Enter New Dog</a>

</main>

<%- include('partials/footer') %>

