<%- include('partials/header', {
    title: 'New Dog Page'
}) %>



<main>
<h1>ALL DEM DOGS</h1>
<ul>
<% for(let i = 0; i < dogs.length; i++){ %>
<li>
NAME: <%= dogs[i].name %>
BREED>: <%= dogs[i].breed %>
AGE: <%= dogs[i].age %>
PICTURE:<img src="<%=dogs[i].image%>" alt="<%= dogs[i].name %> is a great doggo">

<%}%>


</main>

<%- include('partials/footer') %>

