<%- include('partials/header', {
    title: 'New Dog Page'
}) %>



<main>

<h1><%=dog.name%></h1>

<p><%= dog.name %> is a good doggo! and is a <%= dog.breed %>! he/she is <%= dog.age %> years old.</p>
THIS IS HER/HIM!
<img src="<%=dog.image%>" alt="<%= dog.name %> is a great doggo"><br>

<form action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
<button type="submit">DELETE THE DOGGO</button>
</form>
<a href="/dogs/<%=dog._id%>/edit"><%=dog.name%>'s Edit Page</a>
<a href="/dogs">ALL DEM DOGS</a>

</main>

<%- include('partials/footer') %>
